/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 0;
    padding: 2em;
}
footer nav {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}
footer nav a {
    color: #000;
    text-decoration: none;
    width: fit-content;
}